.center{
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: black;
    color: red;
    font-size: 140px;
    border-style: solid;
    border-width: 5px;
    border-color: red;  
}

.btn{
    font-size: 30px;
    padding: 10px;
    background-color: black;
    color: red;
    border-style: solid;
    border-width: 5px;
}

.txt{
    color: red;
    font-size: 25px;
    
}
